<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         {% block javascripts %}
 {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
<h1>These are our latest videos!!</h1>
<ul>
     {% for key, video in videos %}
       <li>
      <a href="{{ path('videos', {'video': key}) }}">

         {{ video.name|e }}
          </a>
         </li>
     {% endfor %}
</ul>
{% endblock %}
       
        
        {% endblock %}
    </body>
</html>
