{% block stylesheets %}

 
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{# 
   here you can use the Twig variable 'videodata' that gets passed from the controller. 
   it has the fields 'name' and 'file' 
#}



{% block content %}
<h1>{{ videodata.name }}</h1>
<video id="player" playsinline controls>
    <source src="/videofiles/{{videodata.file}}" type="video/mp4" />
<track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
</video>




 
 <a href="{{ path('index') }}">Home</a>
 {% endblock %}
