<h1>{{ videodata.name }}</h1>

{# 
   here you can use the Twig variable 'videodata' that gets passed from the controller. 
   it has the fields 'name' and 'file' 
#}

asdfghjkl

<video id="player" playsinline controls>
    <source src="/path/to/{{videodata.file}}" type="video/mp4" />

<track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
</video>

 <video width="320" height="240" controls>
 
Your browser does not support the video tag.
</video> 


 
 <a href="{{ path('index') }}">Home</a>